<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='/static/styles.css' />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Sign-Up Page
	</title>
</head>
<body>
	<h2>Enter your details below : </h2>
	<form action="/signup" method="POST">
	  <label for="fullname">Enter your name: </label><br>
	  <input type="text" id="fullname" name="fullname"><br>
	  <label for="username">Enter your username: </label><br>
	  <input type="text" id="username" name="username"><br>
	  <label for="password">Enter your password: </label><br>
	  <input type="text" id="password" name="password"><br>
	  <label for="email">Enter your Email ID: </label><br>
	  <input type="text" id="email" name="email"><br>
	  <label for="phone">Enter your phone number: </label><br>
	  <input type="text" id="phone" name="phone"><br>
	  <label for="score">Enter your score: </label><br>
	  <input type="text" id="score" name="score"><br>
	  <br>
	  <button type="submit">SUBMIT</button>
	</form>
	<br>
	<br>
	

</body>
</html>